<h1>List of all Students</h1>

<div>
  <% @students.each do |student| %>
  <h3><div><a href="/students/<%=student.id%>"><%= student.first_name + " " + student.last_name %></a></div></h3>
  <% end %>
</div>
